.iphone-product-wrapper {
  margin-top: 50px;
  overflow: hidden;
}
.iphone-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iphone-title {
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}
.iphone-brief {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
}
.iphone-full {
  max-width: 500px;
  text-align: center;
}
.iphone-price {
  font-size: 22px;
  margin: 0;
  color: rgb(58, 118, 2);
}
.iphone-link {
  font-size: 20px;
}
.iphone-link:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
.iphone-image {
  height: 450px;
  aspect-ratio: 4/5;
}
.iphone-image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
