.alertSection {
	text-align: center;
	padding: 20px;
}
.alertContainer {
	background-color: #ffcc3264;
	border-radius: 10px;
}
.alertTitle {
	font-weight: 600;
	color: #1d1d1f;
	margin-bottom: 10px;
}
.alertText {
	max-width: 90%;
	margin: 0 auto;
}

/* Media Query */
@media (min-width: 768px) {
	.alertText {
		max-width: 85%;
		margin: 0 auto;
	}	
}